/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.btnIngresar{
    -fx-background-color: linear-gradient(#0099FF, #004d00);
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-content-display: top;
    -fx-opacity: 0.87;
    -fx-alignment:CENTER;
}

.btnRegistrarse{
   -fx-background-color: linear-gradient(#008080, #004d00);
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-content-display: top;
    -fx-opacity: 0.87;
    -fx-alignment:CENTER;
}


.btnAcercaDe{
    -fx-background-color: linear-gradient(#b3b300, #004d00);
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-content-display: top;
    -fx-opacity: 0.87;
    -fx-alignment:CENTER;
}


.btnSalir{
    -fx-background-color: linear-gradient(#cca300, #004d00);
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-content-display: top;
    -fx-opacity: 0.87;
    -fx-alignment:CENTER;
}
.jfx-Fondo{
    -fx-background-color:linear-gradient( #006600, #ff8533);
}
.lblScrabblenaut{
    -fx-background-color:linear-gradient( #006600, #ff8533);
    -fx-opacity: 0.8;
    -fx-font-size: 24.0px;
    -fx-padding: 5 0 5 0;
    -fx-text-fill: white;
    -fx-font-weight: bold; 
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2, 0.0, 1, 2);
}

.btnCancelar{
    -fx-background-color: linear-gradient(#ff471a, #004d00);
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-content-display: top;
    -fx-opacity: 0.87;
    -fx-alignment:CENTER;
}
.btnAceptar{
   -fx-background-color: linear-gradient(#0000cc, #004d00);
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-content-display: top;
    -fx-opacity: 0.87;
    -fx-alignment:CENTER;
}

.jfx-Play{
    -fx-background-color: linear-gradient(#0099FF, #4047CE);
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-content-display: top;
    -fx-opacity: 0.87;
    -fx-alignment:CENTER;
}

.txt-field{
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}



.jfx-Fondo2{
    -fx-background-color:linear-gradient( #80aaff, #2d8659);
}

.lblIngresarUsuario{
    -fx-background-color:linear-gradient( #80aaff,#2d8659);
    -fx-opacity: 0.8;
    -fx-font-size: 24.0px;
    -fx-padding: 5 0 5 0;
    -fx-text-fill: white;
    -fx-font-weight: bold; 
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2, 0.0, 1, 2);
}

.jfx-Fondo3{
    -fx-background-color:linear-gradient(#008080, #004d00);
}

.lblRegistrarUsuario{
    -fx-background-color:linear-gradient( #008080, #004d00);
    -fx-opacity: 0.8;
    -fx-font-size: 24.0px;
    -fx-padding: 5 0 5 0;
    -fx-text-fill: white;
    -fx-font-weight: bold; 
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2, 0.0, 1, 2);
}
.txt-field2{
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}